@using Microsoft.AspNet.Identity
@using GoltaraSolutions.Common.Identity.ExtensionMethod

<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewBag.Title - SpaWeb</title>

    @*CSS*@
    @*@Styles.Render("~/Content/adminLTE-css")*@
    @Styles.Render("~/Content/fontawesome-css")
    @Styles.Render("~/Content/simplexTheme-css")
    @Styles.Render("~/Content/select2-css")
    @Styles.Render("~/Content/datepicker-css")
</head>
<body class="layout-top-nav skin-red" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            <nav class="navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        @Html.ActionLink("SpaWeb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav navbar-left">
                            @if (Request.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("AlterarSenha", "Account")" class="text-center">
                                    <i class="fa fa-user-o">
                                    </i>
                                    @User.Identity.GetName()
                                </a>
                            </li>
                    }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index","Home")">
                                    <i class="fa fa-line-chart"></i>
                                    Dashboard
                                </a>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Agenda","Atendimento")">
                                    <i class="fa fa-calendar"></i>
                                    Agenda
                                </a>
                            </li>*@
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-calendar-o"></i>
                                    Agenda
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("Agenda","Atendimento")">
                                            <i class="fa fa-calendar-o"></i>
                                            Agenda
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Administrador"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Atendimento")">
                                            <i class="fa fa-list"></i>
                                            Atendimentos
                                        </a>
                                    </li>
                            }
                                </ul>
                            </li>
                            @*<li>
                                <a href="@Url.Action("Index","Venda",new { @tipo = "Ativos" })">
                                    <i class="fa fa-shopping-cart"></i>
                                    Vendas
                                </a>
                            </li>*@
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-users"></i>
                                    Clientes
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("Index","Cliente",new { @tipo = "Ativos" })">
                                            <i class="fa fa-users"></i>
                                            Clientes
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Administrador"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Canal", new { @tipo = "Ativos" })">
                                            <i class="fa fa-external-link"></i>
                                            Origens
                                        </a>
                                    </li>
                            }
                                </ul>
                            </li>
                            @if (User.IsInRole("Administrador"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-cogs"></i>
                                    Gerenciar
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("Index","Funcionario",new { @tipo = "Ativos" })">
                                            <i class="fa fa-address-card"></i>
                                            Funcionários
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Servico",new { @tipo = "Ativos" })">
                                            <i class="fa fa-cubes"></i>
                                            Serviços
                                        </a>
                                    </li>
                                    @*<li>
                                        <a href="@Url.Action("Index","Produto",new { @tipo = "Ativos" })">
                                            <i class="fa fa-shopping-bag"></i>
                                            Produtos
                                        </a>
                                    </li>*@
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Index","Account",new { @tipo = "Ativos" })">
                                            <i class="fa fa-user-o"></i>
                                            Usuários
                                        </a>
                                    </li>
                                </ul>
                            </li>
                    }
                            @if (Request.IsAuthenticated)
                        {
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav" }))
                            {@Html.AntiForgeryToken()}
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-sign-out"></i>
                                    Sair
                                </a>
                            </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index","Account")" id="loginLink">
                                <i class="fa fa-user-o"></i>
                                Usuários
                            </a>
                        </li>
                }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content-wrapper" style="min-height:100%;">
            <div class="container well white">
                @RenderBody()
            </div>
        </div>

        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <i class="fa fa-copyright" aria-hidden="true"></i> Goltara Solutions - @DateTime.Now.Year | Todos os direitos reservados.
            </div>
            <!-- /.container -->
        </footer>
    </div>

    @*JavaScripts*@
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/modernizr-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/popover-js")
    @Scripts.Render("~/bundles/tooltip-js")
    @Scripts.Render("~/bundles/chosen-js")
    @Scripts.Render("~/bundles/datepicker-js")

    @RenderSection("scripts", required: false)
</body>
</html>
