@{
    ViewBag.Title = "Agenda";
}
@Styles.Render("~/Content/fullcalendar-css")
@Styles.RenderFormat(BundlesFormats.PRINT, "~/Content/fullcalendar-print-css")

<section class="content-header">
    <h1 class="box-title">
        @ViewBag.Title
        <small>Sua agenda de atendimentos a serem prestados.</small>
        <span>
            <a href="@Url.Action("Create")" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agendar
            </a>
        </span>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-body">
                    @if (TempData["Acao"] != null && !string.IsNullOrWhiteSpace(TempData["Acao"].ToString()))
                    {
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Muito bem! <strong>@TempData["Nome"].ToString()</strong> foi @TempData["Acao"].ToString() com sucesso.
                        </div>
                    }

                    <div id='calendar' class="fc fc-unthemed fc-ltr"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div id="pDetails"></div>
            </div>
            <div id="pFooter" class="modal-footer"></div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/moment-js")
    @Scripts.Render("~/bundles/fullcalendar-js")

    <script>
    $(document).ready(function () {
        var events = [];
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEvents", "Atendimento")",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.Servico + ' - ' + v.Cliente,
                        funcionario: v.Funcionario,
                        Cliente: v.Cliente,
                        Servico: v.Servico,
                        Status: v.Status.toString(),
                        Id: v.Id.toString(),
                        start: moment(v.DataHoraString).toDate(),
                        end: v.DataHoraEncerramentoString != null ? moment(v.DataHoraEncerramentoString) : null,
                        allDay: false,
                        color: '#3c8dbc'
                    });
                })

                GenerateCalender(events);
            },
            error: function (error) {
                alert(error);
            }
        })

        function GenerateCalender(events) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay, agendaWeek, listWeek'
                },
                visibleRange: {
                    start: @DateTime.Now.AddMonths(-3).ToString("yyyy-MM-dd"),
                    end: @DateTime.Now.AddMonths(3).ToString("yyyy-MM-dd")
                },
                locale: 'pt-br',
                defaultDate: new Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                minTime: '08:00:00',
                maxTime: '22:00:00',
                contentHeight: 638,
                allDaySlot: false,
                defaultView: 'agendaWeek',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<span/>');
                    //if (calEvent.end != null) {
                    //    $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                    //}

                    $description.append($('<div class="form-group" />').html('<label class="label-detail">Cliente: </label> ' + calEvent.Cliente));
                    $description.append($('<div class="form-group" />').html('<label class="label-detail">Serviço: </label> ' + calEvent.Servico));
                    $description.append($('<div class="form-group" />').html('<label class="label-detail">Funcionário: </label> ' + calEvent.funcionario));
                    $description.append($('<div class="form-group" />').html('<label class="label-detail">Horário: </label> ' + calEvent.start.format("DD/MM/YYYY HH:mm")));
                    $description.append($('<div class="form-group" />').html('<label class="label-detail">Status: </label> ' + calEvent.Status));
                    $('#myModal #pDetails').empty().html($description);

                    var $footer = '<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>';
                    $footer = $footer + '<a href="/Atendimento/Details/0' + calEvent.Id + '" class="btn btn-primary pull-right">Detalhes</a>';
                    $('#myModal #pFooter').empty().html($footer);



                    $('#myModal').modal();
                }
            })
        }
    })
    </script>
}