@model GoltaraSolutions.SpaWeb.Web.Models.AtendimentoReportAgrupadoViewModel

@{
    ViewBag.Title = "Atendimentos por Cliente";
}
<section class="content-header">
    <h1 class="box-title">
        @ViewBag.Title
        <small>Seus atendimentos agrupados por Cliente.</small>
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="float-none form-group">
                        <span class="">
                            <a href="@Url.Action("Create")" class="btn btn-default btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Novo
                            </a>
                        </span>
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#collapseFiltros" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-search"></i>
                                Filtros
                            </a>
                        </div>
                    </div>
                    <div class="collapse" id="collapseFiltros">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Filtros
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        @using (Html.BeginForm("PorCliente", "Atendimento", FormMethod.Post))
                                        {
                                            <div class="row">
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.DataHoraInicial)
                                                    @Html.EditorFor(model => model.DataHoraInicial, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DataHoraInicial, "", new { @for = "inputError", @class = "text-danger", @value = "01/01/1980", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione a Data e Hora que o Serviço será realizado" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.DataHoraFinal)

                                                    @Html.EditorFor(model => model.DataHoraFinal, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DataHoraFinal, "", new { @for = "inputError", @class = "text-danger", @value = "01/01/1980", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione a Data e Hora que o Serviço será realizado" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.Clientes)
                                                    @Html.DropDownListFor(model => model.IdCliente, (SelectList)Model.Clientes, new { @class = "select2 form-control", data_placeholder = "Pesquise...", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione o Cliente que será atendido" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.Origens)
                                                    @Html.DropDownListFor(model => model.IdOrigem, (SelectList)Model.Origens, new { @class = "select2 form-control", data_placeholder = "Pesquise...", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione a Origem do Cliente que será atendido" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.Funcionarios)
                                                    @Html.DropDownListFor(model => model.IdFuncionario, (SelectList)Model.Funcionarios, new { @class = "select2 form-control", data_placeholder = "Pesquise...", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione o Funcionário que realizará o atendimento" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(model => model.Servicos)
                                                    @Html.DropDownListFor(model => model.IdServico, (SelectList)Model.Servicos, new { @class = "select2 form-control", data_placeholder = "Pesquise...", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione o Serviço que será realizado" })
                                                </div>
                                                <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                                    @Html.LabelFor(m => m.Status, new { @class = "label-action" })
                                                    @Html.EnumDropDownListFor(m => m.Status, new { @class = "select2 form-control", data_placeholder = "Pesquise...", data_toggle = "tooltip", data_placement = "bottom", title = "Selecione o Status do atendimento" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="pull-right pull-down">
                                                        <a href="@Url.Action("PorCliente")" class="btn btn-info btn-sm">
                                                            <i class="fa fa-close" aria-hidden="true"></i>
                                                            Limpar Filtros
                                                        </a>
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-search"></i>
                                                            Filtrar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-hover display responsive nowrap" id="dataTableReportArgupado" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>
                                    <div class="pull-right">
                                        Quantidade
                                    </div>
                                </th>
                                <th data-totaliza="true">
                                    <div class="pull-right">
                                        Valor
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Atendimentos)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Titulo)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.Quantidade)
                                    </td>
                                    <td class="text-right">
                                        R$@Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" class="text-right">
                                    Total: <label id="total"></label>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    @Styles.Render("~/Content/datatables-css")
    @Scripts.Render("~/bundles/moment-js")
    @Scripts.Render("~/bundles/datatables-js")
}